<nav class="navbar fixed-top navbar-expand-lg navbar-light d-flex justify-content-between"
    style="background-color: #ffffffdc">
    <div class="d-flex ">
      <!--   //flex-column -->
      
      <div class="p-4 align-self-center">
        <div class="btn-group dropright">
            <button type="button" data-toggle="modal" data-target="#myModalLeft"
                class="btn btn-outline-primary fixed-top" style="background-color: rgba(191, 204, 216, 0.842)">
                <i class="fas fa-bars"></i>
            
            </button>
        </div>
    </div>
        <div class="p-2">
            <a class="navbar-brand titulologo" href="#" routerLink="/home">
                <img alt="logo" width="220" height="50" [src]="logo" />
            </a>
        </div>

    </div>
    <div class="d-flex flex-column">
        <div class="p-4">
            <form class="form-inline nav">
                <input type="text" class="form-control" id="nombre" name="nombre"
                [(ngModel)]="nombre"  placeholder="Buscar" autocomplete="true" (keyup)="rutanombre(nombre)" aria-label="Search" routerLink="/productos" />
               
            </form>
        </div>
    </div>
    <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav">
                <li class="nav-item " routerLinkActive="active">
                    <a  class="nav-link" href="#" routerLink="/home">Home </a>
                </li>
                <p></p>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="#" routerLink="/productos">Productos </a>
                </li>
            </ul>
        </div>
        <div class="p-2">
            
           
               
                    
                <div class="menutoggle border-0"> 
                   <i class="fas fa-cart-arrow-down" routerLink="/carrito"></i><span class="badge badge-light">{{total$ | async}}</span>
            </div>
             <h5>{{totalfinal | currency}}</h5>
             
             
              
        </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div id="myModalLeft" class="modal fade modal-left" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" >
                    <i class="fas fa-arrow-left"></i>
                </button>
                
                <h5 class="modal-title text-center">Departamentos</h5>
               
            </div>
            <div class="modal-body">
                <div class="list-group list-group-flush" *ngFor="let dep of departamento ; index as i">
                   
                    <button  (click)="ruta(dep.iddept)" href="#" routerLink="/productos"
                        class="btn btn-outline-secondary btn-sm" data-container="body" data-toggle="popover"
                        data-placement="right" data-dismiss="modal"  (mousemove)="indicee(i,dep.iddept)" [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseExample">
                        {{ dep.nombre }}
                    </button>

                      <div *ngIf="i===j" #collapse="ngbCollapse"  [(ngbCollapse)]="isCollapsed">
                        <div class="card">
                          <div class="card-body">
                           <ul *ngFor="let prod of producto">
                            <li> <a  style="color: black;" data-dismiss="modal"  (click)="rutanombre(prod.nombre)" routerLink="/productos" >{{prod.nombre}}</a></li>
                           </ul>
                          </div>
                        </div>
                      </div>
                    
                 
                </div>
            </div>
        </div>
    </div>
</div>
